/Lab5/nbproject/private/
/Lab6/nbproject/private/
/Lab7/nbproject/private/
/Lab8/nbproject/private/
/Mock-1/nbproject/private/
/Mock-2/nbproject/private/
/Lab10/build/
/Lab10/dist/
/JavaApplication3/nbproject/private/
/Lab11/nbproject/private/
/Lab11/build/
/Lab11/dist/
/Lab12/nbproject/private/
/Lab13/nbproject/private/
/Lab12/dist/
/Lab12/build/
/Lab13/dist/
/Lab13/build/
/Lab14/nbproject/private/
