/NetBeansProjects/Lab2/nbproject/private/
/NetBeansProjects/Lab2/build/
/NetBeansProjects/Lab2/dist/
/NetBeansProjects/Lab4/nbproject/private/
/NetBeansProjects/Lab4/build/
/NetBeansProjects/Lab4/dist/
/Lab5/nbproject/private/
/Lab5/dist/
/Lab5/build/
/Lab6/nbproject/private/
/Lab6/build/
/Lab6/dist/
/Lav7/nbproject/private/
/Lab7/nbproject/private/
/Lab7/dist/
/Lab7/build/
/Example_Midterm/nbproject/private/
/Example_Midterm/build/
/Example_Midterm/dist/
/Mock/nbproject/private/
/Mock-1/nbproject/private/
/Mock-1/build/
/Mock-2/nbproject/private/
/Mock-2/build/
/Lab8/nbproject/private/
/Lab8/build/
/Lab8/dist/
